<h3>Ingreso de Usuarios</h3>
<div class="row">
    <div class="col-1 col-lg-4 "></div>
        <div class="col-1 col-lg-4 ">
            <form [formGroup]="loginForm" >
                <div class="mb-3">
                    <label  class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" formControlName = "username" >                
                </div>
                <div class="mb-3">
                    <label  class="form-label">Clave</label>
                    <input type="password" class="form-control" formControlName = "clave">
                </div>                
                <button class="btn btn-primary" (click) = "ingresar()" [disabled]= "!loginForm.valid" >Ingresar</button>
            </form>
        </div>
  <div class="col-1 col-lg-4 "></div>
</div>