<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink= "carrito">CARRITO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "publicaciones">PUBLICACIONES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "usuarios">USUARIOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "login">LOGIN</a>
  </li>
  
</ul>
<router-outlet></router-outlet>